<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configs>
    <config include="test.fwk.system.config" location="file" optional="false" />
    <config include="test.fwk.views.config" location="file" optional="false" />
    <config include="test.fwk.test.config" location="file" optional="false" />
    <config include="missing.config" location="file" optional="true" />
  </configs>
</configuration>
