<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <system>
    <container type="PhoneCore.Framework.IoC.Container,PhoneCore.Framework" 
               defaultLifetimeManager="PhoneCore.Framework.IoC.LifetimeManagers.SingletonLifetimeManager,PhoneCore.Framework">
      <!-- right now you can register mapping only for types which have default constructor-->
      <types>
        <register type="PhoneCore.Framework.UnitTests.Stubs.Container.IClassA, PhoneCore.Framework.UnitTests"
                  mapTo="PhoneCore.Framework.UnitTests.Stubs.Container.ClassA, PhoneCore.Framework.UnitTests" />
        <register name="classB"
                 type="PhoneCore.Framework.UnitTests.Stubs.Container.IClassB, PhoneCore.Framework.UnitTests"
                 mapTo="PhoneCore.Framework.UnitTests.Stubs.Container.ClassB, PhoneCore.Framework.UnitTests">
          <lifetimeManager type="PhoneCore.Framework.IoC.LifetimeManagers.TransientLifetimeManager,PhoneCore.Framework"  />
        </register>
      </types>
      <interception>
        <behaviors>
          <behavior name="execute" type="PhoneCore.Framework.IoC.Interception.Behaviors.ExecuteBehavior,PhoneCore.Framework" />
        </behaviors>
        <components>
          <component interface="PhoneCore.Framework.UnitTests.Stubs.Container.IClassA,PhoneCore.Framework.UnitTests"
                 proxy="PhoneCore.Framework.UnitTests.Stubs.Container.ClassAProxy,PhoneCore.Framework.UnitTests"
                 name ="ClassAProxy">
            <behaviors>
              <clear />
              <behavior name="execute" type="PhoneCore.Framework.IoC.Interception.Behaviors.ExecuteBehavior,PhoneCore.Framework" />
              <behavior name="trace" type="PhoneCore.Framework.IoC.Interception.Behaviors.TraceBehavior,PhoneCore.Framework" />
            </behaviors>
          </component>
          <component interface="PhoneCore.Framework.UnitTests.Stubs.Container.IClassB,PhoneCore.Framework.UnitTests"
                 proxy="PhoneCore.Framework.UnitTests.Stubs.Container.ClassBProxy,PhoneCore.Framework.UnitTests"
                 name ="ClassBProxy">
            <behaviors>
              <clear />
              <behavior name="profile" type="PhoneCore.Framework.IoC.Interception.Behaviors.ProfileBehavior,PhoneCore.Framework" />
            </behaviors>
          </component>
          <!--<proxy component="PhoneCore.Framework.UnitTests.Stubs.Container.IClassC,PhoneCore.Framework.UnitTests" name ="ClassCProxy" />-->
          <component interface="PhoneCore.Framework.Storage.ISettingService,PhoneCore.Framework"
                 proxy="PhoneCore.Framework.Storage.SettingServiceProxy,PhoneCore.Framework.UnitTests"
                 name ="SettingServiceProxy" />
          <component interface="PhoneCore.Framework.Storage.IFileSystemService,PhoneCore.Framework"
                 proxy="PhoneCore.Framework.Storage.FileSystemServiceProxy,PhoneCore.Framework.UnitTests"
                 name ="FileSystemServiceProxy" />
        </components>
      
    </interception>
      </container>
    <!-- bootstrapping -->
    <bootstrapping service="PhoneCore.Framework.Bootstrap.BootstrapperService">
      <bootstrappers>
        <bootstrapper name="Core" type="PhoneCore.Framework.Bootstrap.CoreBootstrapperPlugin, PhoneCore.Framework">
          <services>
            <pageMapping type="PhoneCore.Framework.Navigation.PageMapping, PhoneCore.Framework">
                <pages>
                  <page name="TestPage">
                    <uri type="relative" address="/TestUri.xaml" />
                    <viewModel type="PhoneCore.Framework.UnitTests.Stubs.TestViewModel, PhoneCore.Framework.UnitTests" />
                  </page>
                </pages>
            </pageMapping>
            <navigation type="PhoneCore.Framework.Navigation.NavigationService, PhoneCore.Framework" />
            <fileSystem type="PhoneCore.Framework.Storage.IsolatedStorageFileService, PhoneCore.Framework" />
            <settings type="PhoneCore.Framework.Storage.IsolatedStorageSettingService, PhoneCore.Framework" />
          </services>
        </bootstrapper>
      </bootstrappers>
    </bootstrapping>
    <diagnostic>
      <!-- trace subsystem-->
      <traces>
        <trace name="default" type="PhoneCore.Framework.Diagnostic.Tracing.DefaultTrace, PhoneCore.Framework" level="0">
          <storage connectionString="Data Source=isostore:/tracedb.sdf" />
        </trace>
        <trace name="stub" type="PhoneCore.Framework.UnitTests.Stubs.TestTrace, PhoneCore.Framework.UnitTests" />
      </traces>
    </diagnostic>
  </system>
</settings>