<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <tests>
    <configuration>
      <string attr="attribute">text</string>
      <int attr="2">1</int>
      <type attr="PhoneCore.Framework.UnitTests.Stubs.TestType, PhoneCore.Framework.UnitTests">PhoneCore.Framework.UnitTests.Stubs.TestType, PhoneCore.Framework.UnitTests</type>
      <sections>
        <section />
        <section />
      </sections>
      <merge>
        <nodes>
          <node attribute="1" />
          <node attribute="2" />
        </nodes>
        <mergeNode attr2="2">MergeNodeValueHere</mergeNode>
      </merge>
    </configuration>
  </tests>
</settings>